.header {
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 82px;
}

.header__top   {
    width: 100%;
    background: #232b78;
    padding: 13px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

.header_right-block {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__top-search {
    max-width: 180px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header_search {
    border: none;
    height: 41px;
    padding: 6px 12px;
    max-width: 128px;
}

.header_search-button {
    border: none;
    height: 41px;
    padding: 9px 15px;
}

.header__button-item {
    min-width: 115px;
    display: flex;
    padding: 0 14px;
    height: 41px;
    border-right: 1px solid #ffffff;
}
.header-button {
    width: 100%;
    background: none;
    color: #ffffff;
    font-size: .875rem;
    font-weight: 400;
    border: none;
    text-decoration: none;
}

.header_cart {
    min-width: 118px;
    margin-left: 0;
    padding-left: 1.25rem;
    text-align: right;
    position: relative;
}

.header_cart-items {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_cart-count {
    align-self: end;
    display: block;
    color: #ffffff;
    line-height: 1.275rem;
    font-weight: 700;
}

.header_cart-img {
    margin-left: 10px;
}

/* .header_cart-img::after {

} */


.header__bottom {
    background: rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    height: 60px;
}

.header__bottom .container {
    justify-content: space-between;
}

/* .header__bottom-menu {

} */

.header__bottom-menu ul {
    display: flex;
    width: 100%;
}

/* .header__bottom-menu ul .nav-item {

} */

.header__bottom-menu ul .nav-item::before {
    color: #b8b8b8;
    content: "/";
    font-size: 10px;
    margin-left: 13px;
    margin-right: 13px;
}
.header__bottom-menu ul .nav-item-dropdown::before {
    color: #b8b8b8;
    content: "/";
    font-size: 10px;
    margin-left: 13px;
    margin-right: 13px;
}

.header__bottom-menu ul .nav-item:first-child::before {
    content: "";
}

.header__bottom-menu ul .nav-item .nav-link {
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.nav-link-other::after {
    content: url("../img/arrow-down.png") ;
    margin-left: .7rem;
    margin-top: -.7rem;
}

.header__bottom-flags {
    display: flex;
}

.header__bottom-flag:last-child {
    margin-left: 10px;
}

.header__calendar-button {
    background: none;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: .875rem;
}

.header__calendar-button::after {
    content: url("../img/arrow-down.png");
    margin-left: .7rem;
    margin-top: -.7rem;
}

.calendar-icon {
    width: 25px;
    height: 27px;
    background-image: url("../img/icon-calendar-white.png");
    margin-right: .5rem;
}


/** DropDown**/

.dropdown-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 200px;
    height: 500px;
    background: white;
    color: #232b78;
    top: 40px;
    left: 30px;
    z-index: 2;
}

.dropdown {
    position: relative;
}
.dropdown-menu a {
    color: #333333;
    
}

.dropdown-toggle {
    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    
}

.dropdown-toggle:hover .dropdown-menu {
    display: none;
}

